.login_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
}

.login_header {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center; /* Center the text */
}

.login_description {
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center; /* Center the text */
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center; 
}

.login_input {
    width: 70%;
    height: 50px;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #7091F5;
}

.login_input::placeholder {
    font-size: medium;
    font-weight: 500;
    /*    bold font    */
    

    color: #fff;
}

.login_button {
    width: 50%; 
    height: 50px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #7091F5;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.login_forgot {
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

.login_register {
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

.login_register_link {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}