/* Parent Container */
.parent_container {
    width: 485.55px;
    height: 591px;
    position: relative;
  }
  
  /* First Inner Div */
  .first_inner_div {
    width: 363.14px;
    height: 519.24px;
    left: 42.86px;
    top: 71.76px;
    position: absolute;
    background: #252525;
    border-radius: 12px;
  }
  
  /* Second Inner Div */
  .second_inner_div {
    width: 448.87px;
    height: 591px;
    left: 0;
    top: 0;
    position: absolute;
    background: #252525;
    border-radius: 12px;
  }
  
  /* Third Inner Div */
  .third_inner_div {
    width: 309.57px;
    height: 429.95px;
    left: 73px;
    top: 33px;
    position: absolute;
  }
  
  /* Fourth Inner Div */
  .fourth_inner_div {
    width: 265px;
    height: 134px;
    left: 36px;
    top: 0;
    position: absolute;
  }
  
  /* Premium Text */
  .premium_text {
    color: rgba(255, 255, 255, 0.80);
    font-size: 48px;
    font-family: 'Quicksand';
    font-weight: 700;
    word-wrap: break-word;
  }
  
  /* Plus Text */
  .plus_text {
    color: #FFB000;
    font-size: 48px;
    font-family: 'Quicksand';
    font-weight: 700;
    word-wrap: break-word;
  }
  
  /* Price Text */
  .price_text {
    width: 195.26px;
    height: 63.32px;
    left: 52px;
    top: 63px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: 'Quicksand';
    font-weight: 700;
    word-wrap: break-word;
  }
  
  /* Per Month Text */
  .per_month_text {
    width: 116px;
    height: 63px;
    left: 123px;
    top: 71px;
    position: absolute;
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-family: 'Quicksand';
    font-weight: 700;
    word-wrap: break-word;
  }
  
  /* Features Text */
  .features_text {
    width: 309.57px;
    height: 284.95px;
    left: 0;
    top: 145px;
    position: absolute;
    opacity: 0.80;
    color: white;
    font-size: 25px;
    font-family: 'Quicksand';
    font-weight: 700;
    word-wrap: break-word;
  }
  
  /* Purchase Container */
  .purchase_container {
    width: 449.83px;
    height: 79.15px;
    left: 35.72px;
    top: 479.13px;
    position: absolute;
  }
  
  /* Purchase Button */
  .purchase_button {
    width: 383.38px;
    height: 79.15px;
    left: 0;
    top: 0;
    border: none;
    position: absolute;
    background: #7091F5;
    border-radius: 8px;
  }

  .purchase_button:hover {
    cursor: pointer;
  }
  
  /* Purchase Text */
  .purchase_text {
    width: 327.55px;
    height: 52.77px;
    left: 122.28px;
    top: 19.87px;
    position: absolute;
    opacity: 0.80;
    color: white;
    font-size: 30px;
    font-family: 'Quicksand';
    font-weight: 700;
    word-wrap: break-word;
  }
  
  /* Divider Line */
  .divider_line {
    width: 80%;
    height: 0;
    left: 28px;
    top: 147px;
    position: absolute;
    opacity: 0.50;
    border: 2px white solid;
  }
  
  .plus_text {
    color: #FFB000;
    font-size: 48px;
    font-family: 'Quicksand';
    font-weight: 700;
    word-wrap: break-word;
  }