.dashboard_text {
    margin-left: 5%;
}

.statistics_wrapper {
    display: flex;
    width: 80%;
    margin-left: 5%;
    justify-content: space-between;
}

.statistic_card_1 {
    flex: 1;
    border-radius: 0.4rem;
    background-color: #242424;
}

.statistic_card_2 {
    flex: 1;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 0.4rem;
    background-color: #242424;
}

.statistic_card_3 {
    flex: 1;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 0.4rem;
    background-color: #242424;
}

.header_text {
    margin-bottom: 0.3rem;
    margin-left: 5%;
    opacity: 0.9;
    font-weight: 600;
    font-size: 1.5rem;
}

.description_text {
    margin-top: 0px;
    margin-left: 5%;
    font-weight: 600;
    font-size: 2.25rem;
}