.container {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: -0.4%;
    margin-top: -0.4%;
    margin-bottom: -0.4%
}
  
.sidebar {
    overflow: auto;
    max-height: 101%;
    background-color: #272829;
    justify-content: center;
    width: 15%;
    min-width: 15%;
    height: 110%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}

.sidebar_button {
    font-family: "Quicksand";
    width: 90%;
    text-align: left;
    opacity: 0.8;
    font-size: 1.4rem;
    color: #fff;
    padding: 0.4rem;
    cursor: pointer;
    border: none;
    background-color: #272829;
}

.sidebar_button:hover {
    cursor: pointer;
    opacity: 1;
    padding: 0.4rem;
    border-radius: 0.3rem;
}

.sidebar_selected_button {
    font-family: "Quicksand";
    width: 90%;
    text-align: left;
    opacity: 1;
    font-size: 1.4rem;
    color: #fff;
    padding: 0.4rem;
    cursor: pointer;
    border: none;
    border-radius: 0.3rem;
    background-color: #272829;
}

.sidebar_button:hover {
    cursor: pointer;
    opacity: 1;
    padding: 0.4rem;
    border-radius: 0.3rem;
    background-color: #272829;
}

.sidebar h1 {
    color: #fff;
    font-size: 1.5rem;
}

.sidebar_content {
    margin-top: 20%;
    text-align: left;
}

.divider_line {
    width: 100%;
    height: 0.1rem;
    background-color: white;
    margin: 1rem 0;
    opacity: 0.5;
}

.premiumText {
    color: #ffb000;
}

.logoutButton {
    font-family: "Quicksand";
    font-size: 1.4rem;
    font-weight: 500;
    margin: 2rem 0;
    padding: 0.8rem;
    color: white;
    border: none;
    border-radius: 0.3rem;
    width: 100%;
    background-color: #fc6060;
    cursor: pointer;
    transition: opacity 0.2s;
}

.logoutButton:hover {
    opacity: 0.9;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.text_content {
    margin-left: 2rem;
    padding: 1rem;
    flex: 1;
}