.component_wrapper {
    color: #fff;
    height: 60vh;
    display: flex;
    margin-top: 3%;
    align-items: center;
    margin-bottom: 3rem;
    justify-content: center;
}

.component_wrapper_2 {
    width: 35%;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: #252525;
}

.header_text {
    font-size: 1.8rem;
    margin-bottom: 0px;
}

.description_text {
    font-size: 1.4rem;
    opacity: 80%;
}

.header_text_wrapper {
    text-align: center;
}

.account_description {
    font-family: "Quicksand";
    font-weight: 500;
    font-size: 2.5rem;
    background-color: #313131;
    padding-left: 0.8rem;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    border: #7091F5;
    color: #fff;
    width: 81%;
    height: 4rem;
    border-radius: 0.4rem;
    font-size: large; 
    margin-bottom: 1rem;
}

.account_description:focus {
    outline: none;
}

.finish_setup_button {
    font-family: "Quicksand";
    font-weight: 500;
    background-color: #7091F5;
    padding-left: 0.8rem;
    margin-bottom: 0.3rem;
    margin-top: 0.1rem;
    border: none;
    color: #fff;
    width: 83%;
    height: 3.5rem;
    border-radius: 0.4rem;
    font-size: 20px;
    margin-bottom: 1rem;
}

.finish_setup_button:hover {
    cursor: pointer;
}


.no_account {
    opacity: 0.8;
}

.a_tag {
    color: #FFF;
    text-decoration: none;
}

.select_option {
    font-family: "Quicksand";
}

.uploadButton {
    font-family: "Quicksand";
    font-weight: 500;
    background-color: #7091F5;
    margin-bottom: 0.3rem;
    margin-top: 0.1rem;
    border: none;
    color: #fff;
    width: 83%;
    height: 3.5rem;
    border-radius: 0.4rem;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.fileInput {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

@media (max-width: 768px) {
    .component_wrapper {
        height: 60vh;
        display: flex;
        margin-top: 3%;
        align-items: flex-start;
        margin-bottom: 3rem;
        justify-content: flex-start;
    }
    
    .component_wrapper_2 {
        width: 100%;
        padding: 2rem;
        border-radius: 0.5rem;
        background-color: #252525;
    }
}

@media (max-width: 768px) {
    .component_wrapper_2 {
        width: 90%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .component_wrapper_2 {
        width: 60%;
    }
}

@media (min-width: 1025px) {
    .component_wrapper_2 {
        width: 35%;
    }
}