.profile_wrapper {
    width: 40%;
    border-radius: 0.4rem;
    background-color: #272829;
    margin-bottom: 2rem;
}

.profile_top {
    height: 9rem;
    border-radius: 0.4rem 0.4rem 0rem 0rem;
    margin-top: 0px;
    padding-top: 0px;
    background-color: #7091F5;
}

.profile_content {
    margin-left: 5%;
    margin-bottom: 5rem;
}

.profile_image_container {
    display: flex;
    margin-top: -5rem;
    margin-left: 2%;
}

.send_message_button {
    font-family: "Quicksand";
    font-weight: 500;
    background-color: #7091F5;
    margin-bottom: 0.3rem;
    margin-top: 0.1rem;
    border: none;
    color: #fff;
    height: 3.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.4rem;
    font-size: 20px;
    margin-top: calc(5rem + 1.5rem);
    margin-left: auto;
    margin-right: 2rem;
}

.send_message_button:hover {
    cursor: pointer;
}

.profile_image {
    border-radius: 50%;
    width: 17%;
    height: 17%;
    background-color: #272829;
    padding: 0.5rem;
}

.username_text {
    margin-bottom: 0.5rem;
}

.description_text {
    margin-top: 0px;
    margin-right: 5%;
    opacity: 0.8;
    font-size: 1.4rem;
}

.section_header_text {
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
    margin-top: 0px;
}

.section_description_text {
    opacity: 0.8;
    font-size: 1.4rem;
    margin-top: 0px;
}

.item_row {
    display: flex;
}

.location_holder {
    margin-right: 5%;
}