.profile_wrapper {
    width: 20%;
    border-radius: 0.4rem;
    background-color: #272829;
    margin-bottom: 2rem;
    height: 28rem;
}

.profile_top {
    height: 9rem;
    border-radius: 0.4rem 0.4rem 0rem 0rem;
    margin-top: 0px;
    padding-top: 0px;
    background-color: #7091F5;
}

.profile_content {
    margin-left: 5%;
    margin-bottom: 5rem;
}

.profile_image_container {
    display: flex;
    margin-top: -5rem;
    margin-left: 2%;
}

.send_message_button {
    font-family: "Quicksand";
    font-weight: 500;
    background-color: #1F1F1F;
    margin-bottom: 0.3rem;
    margin-top: 0.1rem;
    border: none;
    color: #fff;
    height: 3.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.4rem;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 70%;
    margin-right: 2rem;
}

.send_message_button:hover {
    cursor: pointer;
}

.profile_image {
    border-radius: 50%;
    width: 25%;
    height: 25%;
    background-color: #272829;
    padding: 0.5rem;
}

.username_text {
    margin-top:-3rem;
    margin-bottom: -0.2rem;
}

.description_text {
    margin-top: 0px;
    margin-right: 5%;
    opacity: 0.8;
    font-size: 1.2rem;
}

.section_header_text {
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
    margin-top: 0px;
}

.section_description_text {
    opacity: 0.8;
    font-size: 1.4rem;
    margin-top: 0px;
}

.item_row {
    display: flex;
}

.location_holder {
    margin-right: 5%;
}

.skill_separator {
    margin-right: 5px;
}

.language_flags {
    font-family: initial;
}

.interests {
    margin-right: 65px;
    margin-top: -20px;
}

.skills_interests_container {
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 0;
}

.skills,
.interests,
.location {
    flex: 1;
    margin-right: 20px;
}

.skills {
    flex-basis: 100%; 
    margin-bottom: 10px;
}

.badges_container {
    display: flex;
    margin-left: 8px; 
}

.badge {
    margin-right: 8px;
}

.swap_content_button {
    font-family: "Quicksand";
    font-weight: 500;
    background-color: #7091F5;
    margin-bottom: 0.3rem;
    margin-top: 0.1rem;
    border: none;
    color: #fff;
    height: 3.5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 0.4rem;
    font-size: 14px;
    margin-top: 6rem;
    margin-left: 40%;
    margin-right: 2rem;
}

.swap_content_button:hover {
    cursor: pointer;
}

.interests h2,
.skills h2,
.location h2 {
    margin-bottom: 0;
}

.location h2 {
    margin: 0;
}

.location_text {
    margin-bottom: 0;
}

.interests p,
.skills p,
.location p {
    font-weight: 700;
}