.profile_wrapper {
    width: 100%;
    border-radius: 0.4rem;
    background-color: #272829;
    margin-bottom: 2rem;
}

.profile_top {
    height: 9rem;
    border-radius: 0.4rem 0.4rem 0rem 0rem;
    margin-top: 0px;
    padding-top: 0px;
    background-color: #7091F5;
}

.profile_content {
    margin-left: 5%;
}

.profile_image_container {
    display: flex;
    margin-top: -5rem;
    margin-left: 2%;
}

.swap_content_button {
    font-family: "Quicksand";
    font-weight: 500;
    border: none;
    color: #fff;
    height: 3.5rem;
    border-radius: 0.4rem;
    font-size: 20px;
    margin-top: rem;
    margin-left: 27rem;
    background-color: #7091F5;
    cursor: pointer;
}

.swap_content_button:hover {
    cursor: pointer;
}

.send_message_button_container {
    display: inline-block;
    margin-top: 5.5rem;
    margin-left: -5rem;
}

.send_message_button {
    font-family: "Quicksand";
    font-weight: 500;
    border: none;
    color: #fff;
    height: 3.5rem;
    border-radius: 0.4rem;
    font-size: 20px;
}

.send_message_button {
    background-color: #1F1F1F;
    margin-bottom: 0.3rem;
    margin-top: 0.1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 6rem;
}

.profile_image {
    border-radius: 50%;
    width: 17%;
    height: 17%;
    background-color: #272829;
    padding: 0.5rem;
}

.username_text {
    float: left;
}

.description_text {
    margin-top: 0px;
    margin-right: 5%;
    opacity: 0.8;
    font-size: 1.2rem;
}

.section_header_text {
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
    margin-top: 0px;
}

.section_description_text {
    opacity: 0.8;
    font-size: 1.4rem;
    margin-top: 0px;
}

.item_row {
    display: flex;
}

.location_holder {
    margin-right: 5%;
}

.skill_separator {
    margin-right: 5px;
}

.language_flags {
    font-family: initial;
}

.interests {
    margin-right: 65px;
}

.skills_interests_container {
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 0;
}

.skills,
.interests,
.location {
    flex: 1;
    margin-right: 20px;
}

.skills {
    flex-basis: 100%; 
    margin-bottom: 10px;
}

.badges_container {
    display: flex;
    margin-left: 8px;
    margin-top: 5px;
    margin-right: 10px;
}


.badge {
    margin-right: 8px;
}

.interests span,
.skills span,
.location p {
    font-weight: 700;
}

.open_profile_button {
    margin-left: auto !important;
}